@font-face{
    font-family: NotoSansCJKsc-Black; 
    src: url(./src/fonts/NotoSansCJKsc-Black.otf);
}

.mainContainer{
    display: flex;
    position:relative;
    margin: 5% auto;
    width: 800px;
    height: 500px;
    /* background-color: red; */
    background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(241, 117, 0) 80%);
    border-radius: 50px 50px 0 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.bottomBar{
    align-self: flex-end;
    /* background-color: green; */
    width: 100%;
    height: auto;
}
.panel{
    position: absolute;
    width: 100%;
    /* height: 300px; */
    /* padding-top: 7.71916214%; */
    /* background-image: url(./src/images/panel_bg_copy_2.png); */
    background-image: url(./src/images/UI.png);
    padding-top: 13.6539953%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: yellow; */
    z-index: 1;
}
.btn_info{
    position: absolute;
    background-image: url(./src/images/btn_info/btn_info_normal.png);
    background-size: 100% 100%;
    width: 35px;
    height: 35px;
    left: 40px;
    bottom: -71px;
    z-index: 2;
    cursor: pointer;
}
.btn_info_disable{
    position: absolute;
    background-image: url(./src/images/btn_info/btn_info_disable.png);
    background-size: 100% 100%;
    width: 35px;
    height: 35px;
    left: 40px;
    bottom: -71px;
    z-index: 2;
    cursor: default;
    pointer-events: none;
}
.btn_info:hover{
    background-image: url(./src/images/btn_info/btn_info_hover.png);
}
.btn_info:active{
    background-image: url(./src/images/btn_info/btn_info_click.png);
}
.btn_minus{
    position: absolute;
    background: url(./src/images/btn_minus/btn_minus_normal.png);
    background-size: 100% 100%;
    width: 27px;
    height: 27px;
    left: 83px;
    bottom: -67px;
    z-index: 2;
    cursor: pointer;
}
.btn_minus:hover{
    background-image: url(./src/images/btn_minus/btn_minus_hover.png);
}
.btn_minus:active{
    background-image: url(./src/images/btn_minus/btn_minus_click.png);
}
.btn_minus_disable{
    position: absolute;
    background: url(./src/images/btn_minus/btn_minus_disable.png);
    background-size: 100% 100%;
    width: 27px;
    height: 27px;
    left: 83px;
    bottom: -67px;
    z-index: 2;
    cursor: default;
    pointer-events: none;
}
.btn_plus{
    position: absolute;
    background: url(./src/images/btn_plus/btn_plus_normal.png);
    background-size: 100% 100%;
    width: 27px;
    height: 27px;
    left: 172px;
    bottom: -67px;
    z-index: 2;
    cursor: pointer;
}
.btn_plus:hover{
    background-image: url(./src/images/btn_plus/btn_plus_hover.png);
}
.btn_plus:active{
    background-image: url(./src/images/btn_plus/btn_plus_click.png);
}
.btn_plus_disable{
    position: absolute;
    background-image: url(./src/images/btn_plus/btn_plus_disable.png);
    background-size: 100% 100%;
    width: 27px;
    height: 27px;
    left: 172px;
    bottom: -67px;
    z-index: 2;
    cursor: default;
    pointer-events: none;
}
.totalbet{
    position: absolute;
    /* background-color: green; */
    width: 60px;
    height: 28px;
    left: 111px;
    bottom: -67px;
    z-index: 2;
    cursor: default;
    /* user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none; */
}
.totalbetText{
    /* background-color: red; */
    text-align: center;
    color: #ff6972;
    text-shadow: 0px 1px 0px #710008;
    margin: 1px 0px 1px 0px;
    font-size: 8px;
    font-family: "NotoSansCJKsc-Black";
}
.totalbetCounter{
    /* background-color: pink; */
    position: relative;
    bottom: 4px;
    text-align: center;
    color: #ffd100;
    text-shadow: 0px 1px 0px #710008;
    margin: 0px;
    font-size: 12px;
	font-family: "NotoSansCJKsc-Black";
}
.coinbox{
    position: absolute;
    /* background-color: green; */
    width: 58px;
    height: 28px;
    left: 208px;
    bottom: -67px;
    z-index: 2;
    cursor: default;
    /* user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none; */
}
.coinboxText{
    /* background-color: red; */
    text-align: center;
    color: #ff6972;
    text-shadow: 0px 1px 0px #710008;
    margin: 1px 0px 1px 0px;
    font-size: 8px;
    font-family: "NotoSansCJKsc-Black";
}
.coinboxCounter{
    /* background-color: pink; */
    position: relative;
    bottom: 4px;
    text-align: center;
    color: #ffd100;
    text-shadow: 0px 1px 0px #710008;
    margin: 0px;
    font-size: 12px;
	font-family: "NotoSansCJKsc-Black";
}
.win{
    position: absolute;
    /* background-color: green; */
    width: 214px;
    height: 42px;
    left: 294px;
    bottom: -72px;
    z-index: 2;
    cursor: default;
    /* user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none; */
}
.winText{
    /* background-color: red; */
    text-align: center;
    color: gold;
    text-shadow: 0px 2px 0px #710008;
    margin: -4px 0px 1px 0px;
    font-size: 33px;
    font-family: "NotoSansCJKsc-Black";
}



/* CHECKBOX */

.checkbox{
    position: absolute;
    /* background-color: green; */
    width: 52px;
    height: 33px;
    right: 216px;
    bottom: -70px;
    z-index: 2;
    /* pointer-events: none; */
}
/* .checkboxNone{
    display: none;
} */
#checkboxID{
    width: 52px;
    height: 33px;
    display: block;
    position: relative;
    /* background-color: red; */
}
#checkboxInput{
    display: none;
}
.span_dis{
    display: none;
}
#checkboxInput + .span{
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: url(./src/images/turbo_box/turbo_box.png) no-repeat ;
    background-size: 100%;
    cursor: pointer;
    /* background-color: red; */
}
#checkboxInput:checked + .span{
    background-position: 0 -33px; 
}

#checkboxInput + .span:hover{
    background: url(./src/images/turbo_box/turbo_box_hover.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
}
#checkboxInput:checked + .span:hover{
    background: url(./src/images/turbo_box/turbo_box_hover.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background-position: 0 -33px; 
}
#checkboxInput + .span:active{
    background: url(./src/images/turbo_box/turbo_box_click.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
}
#checkboxInput:checked + .span:active{
    background: url(./src/images/turbo_box/turbo_box_click.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background-position: 0 -33px; 
}

/* disable */
.span_disable{
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: url(./src/images/turbo_box/turbo_box_disable.png) no-repeat;
    background-size: 100%;
    cursor: default;
    /* z-index: 4; */
}
.span_disable_pos{
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: url(./src/images/turbo_box/turbo_box_disable.png) no-repeat;
    background-size: 100%;
    cursor: default;
    background-position: 0 -33px; 
    /* z-index: 4; */
}
.checkbox_dis{
    position: absolute;
    /* background-color: green; */
    width: 52px;
    height: 33px;
    right: 216px;
    bottom: -70px;
    z-index: 2;
    pointer-events: none;
}


.auto_box{
    position: absolute;
    background: url(./src/images/auto_box/auto_box.png) no-repeat;
    background-size: 100% 100%;
    /* background-color: green; */
    width: 124px;
    height: 33px;
    right: 88px;
    bottom: -70px;
    z-index: 2;
    cursor: pointer;
    /* display: none; */
}
.auto_box:hover{
    background-image: url(./src/images/auto_box/auto_box_hover.png);
}
.auto_box:active{
    background-image: url(./src/images/auto_box/auto_box_click.png);
}
.btn_spin{
    position: absolute;
    background-image: url(./src/images/btn_spin/btn_spin.png);
    background-size: 100% 100%;
    width: 109px;
    height: 109px;
    right: 38px;
    z-index: 3;
    cursor: pointer;
}
.btn_spin:hover{
    background-image: url(./src/images/btn_spin/btn_spin_hover.png);
}
.btn_spin:active{
    background-image: url(./src/images/btn_spin/btn_spin_click.png);
}


.spinner{
    position: absolute;
    background: url(./src/images/spinner/normal.png) no-repeat;
    background-size: 100% 100%;
    width: 75px;
    height: 60px;
    right: 17px;
    bottom: 25px;
    z-index: 2;
    -webkit-animation-name: spinner;
    animation-name: spinner;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
@-webkit-keyframes spinner {
    75% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @keyframes spinner {
    75% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  
.spinner_stop{
    position: absolute;
    /* background-color: green; */
    background: url(./src/images/btn_spin/btn_spin_stop_disable.png) no-repeat;
    background-size: 100% 100%;
    width: 109px;
    height: 109px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    pointer-events: none;

    -webkit-animation-name: stop;
    animation-name: stop;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
  }
@-webkit-keyframes stop {
    0%{
        background: url(./src/images/btn_spin/btn_spin_stop_disable.png) no-repeat;
        background-size: 100% 100%;
        width: 109px;
        height: 109px;
        right: 0px;
        bottom: 0px;
        z-index: 5;
        cursor: default;
        pointer-events: none;
    }
    50%{
        background: url(./src/images/btn_spin/btn_spin_stop_normal.png) no-repeat;
        background-size: 100% 100%;
        width: 109px;
        height: 109px;
        right: 0px;
        bottom: 0px;
        z-index: 5;
        pointer-events: none;
    }
    100%{
        background: url(./src/images/btn_spin/btn_spin_stop_disable.png) no-repeat;
        background-size: 100% 100%;
        width: 109px;
        height: 109px;
        right: 0px;
        bottom: 0px;
        z-index: 5;
        cursor: default;
        pointer-events: none;
    }
  }
  @keyframes stop {
    0%{
        background: url(./src/images/btn_spin/btn_spin_stop_disable.png) no-repeat;
        background-size: 100% 100%;
        width: 109px;
        height: 109px;
        right: 0px;
        bottom: 0px;
        z-index: 5;
        cursor: default;
        pointer-events: none;
    }
    50%{
        background: url(./src/images/btn_spin/btn_spin_stop_normal.png) no-repeat;
        background-size: 100% 100%;
        width: 109px;
        height: 109px;
        right: 0px;
        bottom: 0px;
        z-index: 5;
        pointer-events: none;
    }
    100%{
        background: url(./src/images/btn_spin/btn_spin_stop_disable.png) no-repeat;
        background-size: 100% 100%;
        width: 109px;
        height: 109px;
        right: 0px;
        bottom: 0px;
        z-index: 5;
        cursor: default;
        pointer-events: none;
    }
  }

  .spinner_stop_once{
    position: absolute;
    /* background-color: green; */
    background: url(./src/images/btn_spin/btn_spin_stop_disable.png) no-repeat;
    background-size: 100% 100%;
    width: 109px;
    height: 109px;
    right: 0px;
    bottom: 0px;
    z-index: 5;
    pointer-events: none;

    -webkit-animation-name: stop_once;
    animation-name: stop_once;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
@-webkit-keyframes stop_once {
    0%{
        background: url(./src/images/btn_spin/btn_spin_stop_disable.png) no-repeat;
        background-size: 100% 100%;
        width: 109px;
        height: 109px;
        right: 0px;
        bottom: 0px;
        z-index: 5;
        cursor: default;
        pointer-events: none;
    }
    50%{
        background: url(./src/images/btn_spin/btn_spin_stop_normal.png) no-repeat;
        background-size: 100% 100%;
        width: 109px;
        height: 109px;
        right: 0px;
        bottom: 0px;
        z-index: 5;
        pointer-events: none;
    }
    100%{
        background: url(./src/images/btn_spin/btn_spin_stop_disable.png) no-repeat;
        background-size: 100% 100%;
        width: 109px;
        height: 109px;
        right: 0px;
        bottom: 0px;
        z-index: 5;
        cursor: default;
        pointer-events: none;
    }
  }
  @keyframes stop_once {
    0%{
        background: url(./src/images/btn_spin/btn_spin_stop_disable.png) no-repeat;
        background-size: 100% 100%;
        width: 109px;
        height: 109px;
        right: 0px;
        bottom: 0px;
        z-index: 5;
        cursor: default;
        pointer-events: none;
    }
    50%{
        background: url(./src/images/btn_spin/btn_spin_stop_normal.png) no-repeat;
        background-size: 100% 100%;
        width: 109px;
        height: 109px;
        right: 0px;
        bottom: 0px;
        z-index: 5;
        pointer-events: none;
    }
    100%{
        background: url(./src/images/btn_spin/btn_spin_stop_disable.png) no-repeat;
        background-size: 100% 100%;
        width: 109px;
        height: 109px;
        right: 0px;
        bottom: 0px;
        z-index: 5;
        cursor: default;
        pointer-events: none;
    }
  }


.spinselect_box{
    position: absolute;
    background: url(./src/images/spinselect_box/spinselect_box_bg.png) no-repeat;
    background-size: 100% 100%;
    /* background-color: green; */
    width: 123px;
    height: 0px;
    right: 88px;
    bottom: -63px;
    z-index: 1;
    /* opacity: 0; */
    /* max-height: 0; */
    /* overflow: hidden; */
    /* -moz-transition: opacity .3s, max-height .3s;
    -ms-transition: opacity .3s, max-height .3s; */
    /* transition: opacity 1s; */
    /* display: none; */
    overflow: hidden;
    transition: .6s height ease-in;
    /* user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none; */
}
.spinselect_box_show{
    height: 127px;
}
.spinselect_box_ul{
    padding: 0px;
    margin-left: 11px;
    margin-top: 21px;
    margin-bottom: 0px;
    margin-right: 0px;
    list-style-type: none;
}
.spinselect_box_li{
    /* position: relative; */
    /* bottom: 4px; */
    /* text-align: right; */
    color: #ffd100;
    text-shadow: 0px 1px 0px #710008;
    margin: -2px;
    font-size: 11px;
    font-family: "NotoSansCJKsc-Black";
    cursor: pointer;
}
.spinselect_box_li:hover{
    color: #ffffff;
    text-shadow: 0px 1px 0px #710008;
}
.spinselect_box_li:active{
    color: #f48a00;
    text-shadow: 0px 1px 0px #710008;
}
#spinselect_box_li{
    /* position: relative; */
    /* bottom: 4px; */
    /* text-align: right; */
    color: #ffd100;
    text-shadow: 0px 1px 0px #710008;
    margin: -2px;
    font-size: 11px;
    font-family: "NotoSansCJKsc-Black";
    cursor: pointer;
}
#spinselect_box_li:hover{
    color: #ffffff;
    text-shadow: 0px 1px 0px #710008;
}


.feature{
    display: flex;
    /* top: 0px; */
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.txt_feature{
    position: relative;
    /* bottom: 4px; */
    /* text-align: right; */
    color: #ffd100;
    text-shadow: 0px 1px 0px #710008;
    /* margin: -2px; */
    margin-left: 4px;
    font-size: 11px;
    font-family: "NotoSansCJKsc-Black";
    cursor: pointer;
}
.icon_feature{
    display: inline-block;
    position: relative;
    background: url(./src/images/spinselect_box/icon_feature.png) no-repeat;
    background-size: 100% 100%;
    width: 11px;
    height: 11px;
    /* background-color: burlywood; */
    margin: auto auto;
    /* margin-left: 2px; */
    /* margin-right: 2px; */
    order: -1;
}
.txt_feature_hover{
    color: #ffffff;
    text-shadow: 0px 1px 0px #710008;
}
.icon_feature_hover{
    background: url(./src/images/spinselect_box/icon_feature_hover.png) no-repeat;
    background-size: 100% 100%;
}
.txt_feature_active{
    color: #f48a00;
    text-shadow: 0px 1px 0px #710008;
}
.icon_feature_active{
    background: url(./src/images/spinselect_box/icon_feature_click.png) no-repeat;
    background-size: 100% 100%;
}





.stop_box{
    position: absolute;
    background: url(./src/images/stop_red/stop_red_normal.png) no-repeat;
    background-size: 100% 100%;
    /* background-color: green; */
    width: 122px;
    height: 33px;
    right: 90px;
    bottom: -70px;
    z-index: 2;
    cursor: pointer;
}
.stop_box:hover{
    position: absolute;
    background: url(./src/images/stop_red/stop_red_hover.png);
    background-size: 100% 100%;
    /* background-color: green; */
    width: 122px;
    height: 33px;
    right: 90px;
    bottom: -70px;
    z-index: 2;
    cursor: pointer;
}
.stop_box:active{
    position: absolute;
    background: url(./src/images/stop_red/stop_red_click.png);
    background-size: 100% 100%;
    /* background-color: green; */
    width: 122px;
    height: 33px;
    right: 90px;
    bottom: -70px;
    z-index: 2;
    cursor: pointer;
}

.sign{
    position: absolute;
    /* background-color: green; */
    background: url(./src/images/stop_red/sign.png) no-repeat;
    background-size: 100% 100%;
    /* margin: auto; */
    width: 20px;
    height: 20px;
    right: 185px;
    bottom: -63px;
    z-index: 3;
    -webkit-animation-name: sign;
    animation-name: sign;
    -webkit-animation-duration: 2s ;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: initial;
    animation-timing-function: initial;
  }
  @-webkit-keyframes sign {
    50% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @keyframes sign {
    50% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }


  .stop_box_red{
    position: absolute;
    background: url(./src/images/stop_blue/stop_blue_normal.png) no-repeat;
    background-size: 100% 100%;
    /* background-color: green; */
    width: 122px;
    height: 33px;
    right: 90px;
    bottom: -70px;
    z-index: 2;
    cursor: pointer;
}
.stop_box_red:hover{
    position: absolute;
    background: url(./src/images/stop_blue/stop_blue_hover.png);
    background-size: 100% 100%;
    /* background-color: green; */
    width: 122px;
    height: 33px;
    right: 90px;
    bottom: -70px;
    z-index: 2;
    cursor: pointer;
}
.stop_box_red:active{
    position: absolute;
    background: url(./src/images/stop_blue/stop_blue_click.png);
    background-size: 100% 100%;
    /* background-color: green; */
    width: 122px;
    height: 33px;
    right: 90px;
    bottom: -70px;
    z-index: 2;
    cursor: pointer;
}
.timer{
    position: absolute;
    /* background-color: green; */
    width: 11px;
    height: auto;
    right: 190px;
    bottom: -60px;
    z-index: 3;
    cursor: default;
    /* display: none; */
    font-size: 11px;
    font-family: "NotoSansCJKsc-Black";
    cursor: pointer;
    color: #ffd100;
    text-shadow: 0px 1px 0px #710008;
    margin: 0px;
}
.timerStep{
    position: absolute;
    /* background-color: green; */
    width: 11px;
    height: auto;
    right: 187px;
    bottom: -60px;
    z-index: 3;
    cursor: default;
    /* display: none; */
    font-size: 11px;
    font-family: "NotoSansCJKsc-Black";
    cursor: pointer;
    color: #ffd100;
    text-shadow: 0px 1px 0px #710008;
    margin: 0px;
}